@model Lekarna.Web.ViewModels.Medicines.AllRecordsViewModel
@{
    this.ViewData["Title"] = "All Records";
    var index = 0;
}
<div class="card">
    <table class="table table-sm table-hover">
        <thead>
            <tr>
                <th scope="col"><i class="fas fa-sort-down"></i></th>
                <th scope="col">Name</th>
                <th scope="col">Price</th>
                <th scope="col">Target</th>
                <th scope="col">Discount</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var record in Model.Records)
            {
                <tr>
                    <th scope="row">@(++index)</th>
                    <td><i class="far fa-copyright"></i>@record.Name</td>
                    <td><i class="far fa-calendar-check"></i>@record.Price</td>
                    <td>@record.Target</td>
                    <td>@record.Discount</td>
                </tr>
            }
        </tbody>
    </table>
</div>
@section footer{

}