@model Lekarna.Web.ViewModels.Pharmacies.PharmacyDetailsViewModel
@{
    this.ViewData["Title"] = Model.Name;
}

@if (this.TempData["Notification"] != null)
{
    <div id="element" class="alert alert-success">
        @this.TempData["Notification"]
    </div>
}

<div class="text-center">
    <h1 class="display-4">@this.ViewData["Title"]</h1>
</div>

<div class="row">
    <div class="col-md-3">
        <div class="card card-primary card-outline">
            <div class="card-body box-profile">
                <div class="text-center">
                    <img class=" img-thumbnail height: 100px; width: 100px profile-user-img img-fluid img-circle;" src="@Model.ImageUrl" alt="Pharmacy picture">
                </div>

                <h3 class="profile-username text-center">@Model.Name</h3>

                <p class="text-muted text-center">@Model.Country</p>
                <p class="text-muted text-center">@Model.Address</p>

                <ul class="list-group list-group-unbordered mb-3">
                    <li class="list-group-item">
                        <b>Total orders</b> <a class="float-right">@Model.OrdersCount</a>
                    </li>
                    <li class="list-group-item">
                        <b>Created by</b> <a class="float-right">@Model.ApplicationUserUsername</a>
                    </li>
                </ul>

                <a href="#" class="btn btn-primary btn-block"><b>View Orders</b></a>
            </div>
            <!-- /.card-body -->
        </div>
    </div>
</div>

<hr class="hr-2 bg-info mt-4" />

<div>
    <a asp-controller="Pharmacies" asp-action="Edit" asp-route-id="@Model.Id" class="btn bg-warning">Edit</a>
    <a asp-controller="Pharmacies" asp-action="Delete" asp-route-id="@Model.Id" type="submit" class="btn btn-danger">Delete</a>
</div>


<script>
    let notification = document.getElementById("element");
    notification.addEventListener('click', (event) => event.currentTarget.style.display = 'none');
</script>