@model Lekarna.Web.ViewModels.Suppliers.SupplierViewModel
@{
    this.ViewData["Title"] = Model.Name;
}

<h1 class="display 3">@Model.Name</h1>

<div class="card">
    @foreach (var offer in Model.Offers)
    {
        <table class="table table-sm table-hover">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Medicine</th>
                    <th scope="col">Price</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Target</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>@offer.Name</td>
                    <td>@offer.Price</td>
                    <td>@offer.Quantity</td>
                    <td>@offer.Target</td>
                </tr>
            </tbody>
        </table>
    }
</div>
