@model Lekarna.Web.ViewModels.Suppliers.SupplierViewModel

@{
    this.ViewData["Title"] = Model.Name;
    var index = 0;
}


<h1 class="display 3">@Model.Name</h1>

<div class="card">
    <table class="table table-sm table-hover">
        <thead>
            <tr>
                <th scope="col"><i class="fas fa-sort-down"></i></th>
                <th scope="col">Name</th>
                <th scope="col">Medicine</th>
                <th scope="col">Price</th>
                <th scope="col">Quantity</th>
                <th scope="col">Target</th>
                <th scope="col">Category</th>
                <th scope="col">Details</th>
            </tr>
        </thead>
        @foreach (var offer in Model.Offers)
        {
            <tbody>
                <tr>
                    <th scope="row">@(++index)</th>
                    <td><i class="far fa-copyright"></i>@offer.Name</td>
                    <td><i class="fas fa-prescription-bottle-alt"></i>@offer.Medicine</td>
                    <td><i class="fas fa-euro-sign"></i>@offer.Price</td>
                    <td><i class="fas fa-plus"></i>@offer.Quantity</td>
                    <td><i class="fas fa-chart-line">@offer.Target</i></td>
                    <td><i class="fas fa-chart-line">@offer.CategoryCategoryName</i></td>
                    <td><a asp-controller="Offers" asp-action="ById" asp-route-id="@offer.Id" class="btn btn-primary">Info</a></td>
                </tr>
            </tbody>
        }
    </table>
</div>

