@model Lekarna.Web.ViewModels.Suppliers.SupplierViewModel

@{
    this.ViewData["Title"] = Model.Name;
    var index = 0;
}

@if (this.TempData["Notification"] != null)
{
    <div id="element" class="alert alert-success">
        @this.TempData["Notification"]
    </div>
}

<h1 class="row justify-content-center">@Model.Name</h1>


<div class="card">
    <table class="table table-sm table-hover">
        <thead>
            <tr>
                <th scope="col"><i class="fas fa-sort-down"></i></th>
                <th scope="col">Name</th>
                <th scope="col">Category</th>
                <th scope="col">Details</th>
            </tr>
        </thead>
        @foreach (var offer in Model.Offers)
        {
            <tbody>
                <tr>
                    <th scope="row">@(++index)</th>
                    <td>@offer.Name</td>
                    <td>@offer.CategoryCategoryName</td>
                    <td><a asp-controller="Offers" asp-action="Details" asp-route-id="@offer.Id" class="btn btn-primary">Info</a></td>
                </tr>
            </tbody>
        }
    </table>
</div>


@if (Model.Offers.Count() == 0)
{
    <card class="row justify-content-center">
        <h4 class="row justify-content-center alert-primary">Currently they are no offers from @Model.Name !</h4>
    </card>
}
<hr />

<script>
    let notification = document.getElementById("element");
    notification.addEventListener('click', (event) => event.currentTarget.style.display = 'none');
</script>