@model Lekarna.Web.ViewModels.Offers.AllOffersViewModel
@{
    this.ViewData["Title"] = "All Offers";
    var index = 0;

}
@if (this.TempData["Notification"] != null)
{
    <div id="element" class="alert alert-success">
        @this.TempData["Notification"]
    </div>
}

<h1>@this.ViewData["Title"]</h1>
<div class="card">
    <table class="table table-sm table-hover">
        <thead>
            <tr>
                <th scope="col"><i class="fas fa-sort-down"></i></th>
                <th scope="col">Name</th>
                <th scope="col">Expiration Date</th>
                <th scope="col">Supplier</th>
                <th scope="col">Category</th>
                <th scope="col">Details</th>
            </tr>
        </thead>
        @foreach (var offer in Model.Offers)
        {
            <tbody>
                <tr>
                    <th scope="row">@(++index)</th>
                    <td>@offer.Name</td>
                    <td>@offer.ExpirationDate.Date.ToString("dd/MM/yyyy")</td>
                    <td>@offer.SupplierName</td>
                    <td>@offer.CategoryCategoryName</td>
                    <td><a asp-controller="Offers" asp-action="Details" asp-route-id="@offer.Id" class="btn btn-primary">Info</a></td>
                </tr>
            </tbody>
        }
    </table>
</div>

<hr />

@if (Model.Offers.Count() == 0)
{
    <card class="row justify-content-center">
        <h4 class="row justify-content-center alert-primary">Currently they are no offers !</h4>
    </card>
}
<hr />

<nav>
    <ul class="pagination justify-content-center">
        @{
            var disabled = Model.CurrentPage == 1 ? "disabled" : string.Empty;
        }
        <li class="page-item @disabled">
            <a class="page-link" asp-controller="Offers" asp-action="All" asp-route-page="@(Model.CurrentPage - 1)" tabindex="-1">Previous</a>
        </li>
        @for (int i = 1; i <= this.Model.PagesCount; i++)
        {
            if (i == Model.CurrentPage)
            {
                <li class="page-item active">
                    <a class="page-link"
                       asp-controller="Offers"
                       asp-action="All"
                       asp-route-page="@i">@i</a>
                </li>
            }
            else
            {
                <li class="page-item">
                    <a class="page-link"
                       asp-controller="Offers"
                       asp-action="All"
                       asp-route-page="@i">@i</a>
                </li>
            }
        }
        @{
            disabled = Model.CurrentPage == Model.PagesCount ? "disabled" : string.Empty;
        }
        <li class="page-item @disabled">
            <a class="page-link" asp-controller="Offers" asp-action="All" asp-route-page="@(Model.CurrentPage + 1)">Next</a>
        </li>
    </ul>
</nav>

<script>
    let notification = document.getElementById("element");
    notification.addEventListener('click', (event) => event.currentTarget.style.display = 'none');
</script>