@model Lekarna.Web.ViewModels.Offers.AllOffersViewModel
@{
    this.ViewData["Title"] = "All Offers";
    var index = 0;
    
}
<h1>@this.ViewData["Title"]</h1>
<div class="card">
    <table class="table table-sm table-hover">
        <thead>
            <tr>
                <th scope="col"><i class="fas fa-sort-down"></i></th>
                <th scope="col">Name</th>
                <th scope="col">Medicine</th>
                <th scope="col">Date</th>
                <th scope="col">Price</th>
                <th scope="col">Quantity</th>
                <th scope="col">Target</th>
                <th scope="col">Username</th>
                <th scope="col">Category</th>
                <th scope="col">Details</th>
            </tr>
        </thead>
        @foreach (var offer in Model.Offers)
        {
            <tbody>
                <tr>
                    <th scope="row">@(++index)</th>
                    <td><i class="far fa-copyright"></i>@offer.Name</td>
                    <td><i class="fas fa-prescription-bottle-alt"></i>@offer.Medicine</td>
                    <td><i class="far fa-calendar-check"></i>@offer.CreatedOn</td>
                    <td><i class="fas fa-euro-sign"></i>@offer.Price</td>
                    <td><i class="fas fa-plus"></i>@offer.Quantity</td>
                    <td><i class="fas fa-chart-line">@offer.Target</i></td>
                    <td>@offer.UserUsername</td>
                    <td>@offer.CategoryCategoryName</td>
                    <td><a asp-controller="Offers" asp-action="ById" asp-route-id="@offer.Id" class="btn btn-primary">Info</a></td>
                </tr>
            </tbody>
        }
    </table>
</div>

<hr />

<nav>
    <ul class="pagination justify-content-center">
        @{
            var disabled = Model.CurrentPage == 1 ? "disabled" : string.Empty;
        }
        <li class="page-item @disabled">
            <a class="page-link" asp-controller="Offers" asp-action="All" asp-route-page="@(Model.CurrentPage - 1)" tabindex="-1">Previous</a>
        </li>
        @for (int i = 1; i <= this.Model.PagesCount; i++)
        {
            if (i == Model.CurrentPage)
            {
                <li class="page-item active">
                    <a class="page-link"
                       asp-controller="Offers"
                       asp-action="All"
                       asp-route-page="@i">@i</a>
                </li>
            }
            else
            {
                <li class="page-item">
                    <a class="page-link"
                       asp-controller="Offers"
                       asp-action="All"
                       asp-route-page="@i">@i</a>
                </li>
            }
        }
        @{
            disabled = Model.CurrentPage == Model.PagesCount ? "disabled" : string.Empty;
        }
        <li class="page-item @disabled">
            <a class="page-link" asp-controller="Offers" asp-action="All" asp-route-page="@(Model.CurrentPage + 1)">Next</a>
        </li>
    </ul>
</nav>