@model Lekarna.Web.ViewModels.Offers.OfferViewModel
@{
    this.ViewData["Title"] = Model.Name;
}

<h1>@Model.Medicine</h1>
<h1>@Model.Price</h1>
<h1>@Model.Quantity</h1>
<h1>@Model.Target</h1>
<h1>@Model.CategoryCategoryName</h1>
