@model Lekarna.Web.ViewModels.Offers.OfferViewModel
@{
    this.ViewData["Title"] = Model.Name;
}
@if (this.TempData["Notification"] != null)
{
    <div class="alert alert-success">
        @this.TempData["Notification"]
    </div>
}

<h1 class="text-center">Offer - @Model.Name</h1>

<div class="d-flex justify-content-between row">
    <div class="col-md-5">
        <div>
            <table class="table table-sm">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Medicine</th>
                        <th scope="col">Price</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">Target</th>
                    </tr>
                </thead>
                @foreach (var offer in Model.Medicines)
                {
                    <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td>@Model.Medicine</td>
                            <td>@Model.Price</td>
                            <td>@Model.Quantity</td>
                            <td>@Model.Target</td>
                        </tr>
                    </tbody>
                }
            </table>
        </div>
        <hr class="hr-2 bg-info mt-4" />
        <div class="mt-4 d-flex justify-content-around">
            <button class="btn btn-primary font-weight-bold" asp-controller="Offers" asp-action="Edit" asp-route-id="@Model.Id">Order</button>
            <a asp-controller="Offers" asp-action="Edit" asp-route-id="@Model.Id" class="btn bg-warning">Edit</a>
            <a asp-controller="Offers" asp-action="Delete" asp-route-id="@Model.Id" class="btn bg-danger">Delete</a>
            <a asp-controller="Medicines" asp-action="Create" asp-route-id="@Model.Id" class="btn bg-danger">Create</a>
        </div>
    </div>
</div>



<script>
    let notification = document.getElementById("element");
    notification.addEventListener('click', (event) => event.currentTarget.style.display = 'none');
</script>