@model Lekarna.Web.ViewModels.Offers.OfferViewModel
@{
    this.ViewData["Title"] = Model.Name;
}
@if (this.TempData["Notification"] != null)
{
    <div class="alert alert-success">
        @this.TempData["Notification"]
    </div>
}
<a asp-controller="Offers" asp-action="Edit" asp-route-id="@Model.Id" class="btn bg-warning">Edit</a>
<a asp-controller="Offers" asp-action="Delete" asp-route-id="@Model.Id" class="btn bg-danger">Delete</a>
<h1>@Model.Medicine</h1>
<h1>@Model.Price</h1>
<h1>@Model.Quantity</h1>
<h1>@Model.Target</h1>
<h1>@Model.CategoryCategoryName</h1>

<script>
    let notification = document.getElementById("element");
    notification.addEventListener('click', (event) => event.currentTarget.style.display = 'none');
</script>