@model Lekarna.Web.ViewModels.Offers.OfferViewModel
@{
    this.ViewData["Title"] = Model.Name;
    var index = 0;
}


<h1 class="text-center">Offer - @Model.Name</h1>

<div class="d-flex justify-content-between row">
    <div class="col-md-5">
        <div>
            <table class="table table-sm">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Medicine</th>
                        <th scope="col">Price</th>
                        <th scope="col">Target</th>
                    </tr>
                </thead>
                @foreach (var medicine in Model.Medicines)
                {
                    <tbody>
                        <tr>
                            <th scope="row">@(++index)</th>
                            <td>@medicine.Name</td>
                            <td>@medicine.Price</td>
                            <td>@medicine.Target</td>
                            <td>
                                <button type="button" class="btn btn-primary" data-toggle="modal" data-id="@medicine.Id" data-price="@medicine.Price" data-name="@medicine.Name" data-target="#orderModal">Open modal</button>
                            </td>
                        </tr>
                    </tbody>
                }
            </table>
        </div>
        <hr class="hr-2 bg-info mt-4" />
    </div>
</div>

<div class="modal fade" id="orderModal" tabindex="-1" role="dialog" aria-labelledby="orderModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="orderModalLabel">New order @Model.Id</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form asp-action="Order" method="post" id="order-form">
                    <div class="form-group">
                        <label for="medicine" class="col-form-label font-weight-bold">Medicine</label>
                        <input type="text" class="form-control" name="medicine" id="medicine">
                        <input type="hidden" id="medicineId" value="id" name="medicineId" />
                    </div>
                    <div class="form-group">
                        <label for="price" class="col-form-label">Price</label>
                        <input type="number" class="form-control" name="price" id="price">
                    </div>
                    <div class="form-group">
                        <label for="quantity" class="col-form-label">Quantity</label>
                        <input type="number" class="form-control" name="quantity" id="quantity">
                        <input type="hidden" value="@Model.Id" name="offerId" />
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button id="complete-order-button" type="button" class="btn btn-primary">Add to cart</button>
            </div>
        </div>
    </div>
</div>
<div class="pb-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 p-5 bg-white rounded shadow-sm mb-5">
                <!-- Shopping cart table -->
                <div class="table-responsive">
                    <table id="MainTable" class="table">
                        <thead>
                            <tr>
                                <th scope="col" class="border-0 bg-light">
                                    <div class="p-2 px-3 text-uppercase">Medicine</div>
                                </th>
                                <th scope="col" class="border-0 bg-light">
                                    <div class="py-2 text-uppercase">Price</div>
                                </th>
                                <th scope="col" class="border-0 bg-light">
                                    <div class="py-2 text-uppercase">Quantity</div>
                                </th>
                                <th scope="col" class="border-0 bg-light">
                                    <div class="py-2 text-uppercase">Remove</div>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr id="templateRow">
                                <td id="name" title="" class="align-middle"><strong>Name</strong></td>
                                <td id="price" title="" class="align-middle"><strong>$79.00</strong></td>
                                <td id="quantity" class="align-middle"><strong>3</strong></td>
                                <td class="align-middle">
                                    <button id="delete-button" class="text-dark" href="#"><i class="fa fa-trash"></i></></button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!-- End -->
            </div>
        </div>
        <div>
            <div class="row py-5 p-4 bg-white rounded shadow-sm">
                <div class="col-lg-6">
                    <div class="bg-light rounded-pill px-4 py-3 text-uppercase font-weight-bold">Order summary </div>
                    <div class="p-4">
                        <p class="font-italic mb-4">Shipping and additional costs are calculated based on values you have entered.</p>
                        <ul class="list-unstyled mb-4">
                            <li class="d-flex justify-content-between py-3 border-bottom"><strong class="text-muted">Order Subtotal </strong><strong>$390.00</strong></li>
                            <li class="d-flex justify-content-between py-3 border-bottom"><strong class="text-muted">Tax</strong><strong>$0.00</strong></li>
                            <li class="d-flex justify-content-between py-3 border-bottom">
                                <strong class="text-muted">Total</strong>
                                <h5 class="font-weight-bold">$400.00</h5>
                            </li>
                        </ul><a href="#" class="btn btn-dark rounded-pill py-2 btn-block">Procceed to checkout</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>



@section Scripts {
    <script>
        $('#orderModal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget) // Button that triggered the modal
            var medicine = button.data('name')
            var price = button.data('price')// Extract info from data-* attributes
            var medicineId = button.data('id')
            var modal = $(this)
            modal.find('.modal-title').text(' Offer ' + medicine)
            $(".modal-body #price").val(price)
            $(".modal-body #medicine").val(medicine)
            $(".modal-body #medicineId").val(medicineId)
           
        });

        $('#complete-order-button').click(function () {
            $('#order-form').submit();
        });
    </script>


}